<section role="region" class="about-section" aria-labelledby="aboutHeading" aria-live="polite">
  <div class="container">
    <div class="about-content">
      <!-- Texto à esquerda -->
      <div class="about-info">
        <h1 id="aboutHeading" class="about-title">
          <span>01.</span> Sobre Mim
          <div class="line"></div>
        </h1>
        <p class="about-description">
          Olá, eu sou o Eduardo, também conhecido como IamEduardo!<br /><br />
          Sou uma pessoa criativa, empática, com um toque non-sense e apaixonada por desenvolver experiências digitais.
          Desenvolvo projetos do zero, percorrendo todas as etapas do desenvolvimento, utilizando recursos modernos e
          amigáveis para os usuários.<br /><br />
          Atuo como desenvolvedor Full Stack, com expertise em Front-end. Minhas habilidades incluem a implementação de
          layouts responsivos e acessíveis, a criação de APIs eficientes e a modelagem de bancos de dados.
        </p>

        <h2>Desenvolvedor com habilidades diversas/</h2>

        <!-- Front-End -->
        <ul class="tech-list">
          <h4>Front-End:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-js-square"></i>
              <span class="icon-text">JavaScript</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/typescript.svg" alt="TypeScript" class="icon-img" />
              <span class="icon-text">TypeScript</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-angular"></i>
              <span class="icon-text">Angular</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-react"></i>
              <span class="icon-text">React</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-css3-alt"></i>
              <span class="icon-text">CSS</span>
            </div>
            <div class="icon-container">
              <i class="fa-brands fa-bootstrap"></i>
              <span class="icon-text">Bootstrap</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/po-ui.svg" alt="PO-UI" class="icon-img" />
              <span class="icon-text">PO-UI</span>
            </div>
          </div>
        </ul>

        <!-- Back-End -->
        <ul class="tech-list">
          <h4>Back-End:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-node-js"></i>
              <span class="icon-text">Node.js</span>
            </div>
            <div class="icon-container">
              <i class="fas fa-database"></i>
              <span class="icon-text">SQL</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/c.svg" alt="Java" class="icon-img" />
              <span class="icon-text">C</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-python"></i>
              <span class="icon-text">Python</span>
            </div>
            <div class="icon-container">
                <i class="fa-brands fa-java"></i>
                <span class="icon-text">Java</span>
                </div>
          </div>
        </ul>

        <!-- Softwares -->
        <ul class="tech-list">
          <h4>Softwares e Plataformas:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-git-alt"></i>
              <span class="icon-text">Git</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-github"></i>
              <span class="icon-text">GitHub</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/microsoft-office.svg" alt="Office" class="icon-img" />
              <span class="icon-text">Office</span>
            </div>
          </div>
        </ul>

        <!-- Sistemas Operacionais -->
        <ul class="tech-list">
          <h4>Sistemas Operacionais:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fa-brands fa-windows"></i>
              <span class="icon-text">Windows</span>
            </div>
            <div class="icon-container">
              <i class="fa-brands fa-linux"></i>
              <span class="icon-text">Linux</span>
            </div>
          </div>
        </ul>

        
      </div>

      <!-- Foto à direita -->
      <div class="about-image">
        <img src="assets/images/fotolike.jpg" alt="Foto de Eduardo" />
      </div>
    </div>
  </div>


  


      <!-- Título de Experiência -->
<div class="about-info" style="margin-top: 4rem;">
  <h1 class="about-title">
    <span>02.</span> Experiência
    <div class="line"></div>
  </h1>

  <!-- Bloco de experiência 1 -->
  <div class="experience-entry">
    <h3 class="experience-role">Auxiliar Administrativo</h3>
    <p class="experience-company">Highline</p>
    <p class="experience-date">Março 2024 – Março 2025</p>
    <ul class="experience-tasks">
      <li>Criou <strong>identidades visuais personalizadas</strong> para mais de <strong>100 clientes</strong> em plataformas como <strong>Twitch, Facebook e YouTube</strong>, com uma avaliação de <strong>4.9/5</strong> no <strong>Fiverr</strong>.</li>
      <li>Colaborou com clientes em <strong>inglês, francês, espanhol, russo e árabe</strong>, adquirindo valiosos insights sobre diversas culturas e preferências.</li>
    </ul>
  </div>

  <!-- Bloco de experiência 2 -->
  <div class="experience-entry">
    <h3 class="experience-role">Trainee - Programa Start&lt;Tech&gt;</h3>
    <p class="experience-company">Instituto da Oportunidade Social, TOTVS – São Paulo, Brasil</p>
    <p class="experience-date">Junho 2023 – Setembro 2023</p>
    <ul class="experience-tasks">
      <li>Desempenho de destaque em programa intensivo de treinamento no <strong>framework Angular (PO-UI)</strong>, demonstrando criatividade na resolução de atividades.</li>
      <li>Participou de sessões de mentoria, onde desenvolveu habilidades técnicas.</li>
    </ul>
  </div>
</div>

			
	
</section>
