<nav class="navbar">
  <a routerLink="/" class="navbar-brand">IamEduardo</a> 
  <div class="nav-items">
    <a routerLink="/sobre" class="nav-item" routerLinkActive="active">
      <span class="item-number">01</span>
      <span class="item-label">Sobre</span>
    </a>
    <a routerLink="/projetos" class="nav-item" routerLinkActive="active">
      <span class="item-number">02</span>
      <span class="item-label">Projetos</span>
    </a>
    <a routerLink="/contato" class="nav-item" routerLinkActive="active">
      <span class="item-number">03</span>
      <span class="item-label">Contato</span>
    </a>
    <div class="separator">|</div>
    <a class="nav-item curriculum" href="https://drive.google.com/drive/folders/1z4r5m8AN2afei71LQ4TQ8lVcCBUqBjN6" target="_blank" rel="noopener noreferrer">
      <span class="item-label">Currículo</span>
    </a>
  </div>
</nav>