.Projects {

  /*background-color: var(); */
  padding: 2rem;
  max-width: auto;
  


.title-project {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--color-white);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.project-card {
  position: relative;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    
    .overlay {
      opacity: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  text-align: center;
}

.project-title {
  color: var(--color-white);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-subtitle {
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.project-buttons {
      display: flex;
      gap: 1rem;
     
      

      .btn {
         border-radius: 6px;
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: 1px solid var(--contrateCP);
        color: var(--color-white);
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          background-color: var(--contrateCP);
          color: var(--color-black);
        }
      }
    }
}