:root {
  /* Cores base */
  --color-black: #000000;
  --color-gray: rgba(236, 240, 241, 0.7);
  --color-white: #ffffff;
  --color-light-gray: #f3f3f3;
 --corlegal: #007f;
  --corPrincipal: #0E172F;
  --contrateCP: #00BFFE
;

  /* Tipografia */
  --font-primary: 'Montserrat', georgia, serif;
  --font-main: 'Montserrat', georgia, serif;

  /* Espaçamentos */
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}



body {
  font-family: var(--font-primary);
  margin: 0;
  background-color: var(--corPrincipal);
  
}






