
<!--  =============================== Header =============================== -->
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-greeting">my name is Eduardo</h1>
    <h2 class="hero-title">I'M A DEVELOPER</h2>
    
    <div class="social-links">
      <a href="https://github.com/IamEduardok" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/jos%C3%A9-eduardo-de-souza-a51808232/" target="_blank" class="social-link">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="mailto:jeduardowork@gmail.com" class="social-link">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</section>




<!--  =============================== About =============================== -->
<section role="region" class="about-section" aria-labelledby="aboutHeading" aria-live="polite">
  <div class="container">
    <div class="about-content">
      <!-- Texto à esquerda -->
      <div class="about-info">
        <h1 id="aboutHeading" class="about-title">
          <span>01.</span> Sobre Mim
          <div class="line"></div>
        </h1>
        <p class="about-description">
          Olá, eu sou o Eduardo, mas pode me chamar de Edu!<br /><br />
          Sou um desenvolvedor Full Stack com foco em Front-end, movido por criatividade. Transformo ideias em produtos digitais funcionais, desde a concepção até a entrega, sempre priorizando a experiência do usuário.<br /><br />
          Atuo como desenvolvedor Full Stack, com expertise em Front-end. Minhas habilidades incluem a implementação de
          layouts responsivos e acessíveis, a criação de APIs eficientes e a modelagem de bancos de dados.<br /><br />
          Minha abordagem combina tecnologia moderna e design intuitivo, criando interfaces responsivas, acessíveis e visualmente atraentes. No back-end, desenvolvo APIs eficientes e estruturo bancos de dados para garantir performance e escalabilidade.  
          Além do código, acredito que tecnologia deve ser humana – por isso, valorizo a empatia, a colaboração e soluções que realmente façam a diferença.
        </p>

        <h2>Desenvolvedor com habilidades diversas/</h2>

        <!-- Front-End -->
        <ul class="tech-list">
          <h4>Front-End:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-js-square"></i>
              <span class="icon-text">JavaScript</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/typescript.svg" alt="TypeScript" class="icon-img" />
              <span class="icon-text">TypeScript</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-angular"></i>
              <span class="icon-text">Angular</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-react"></i>
              <span class="icon-text">React</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-css3-alt"></i>
              <span class="icon-text">CSS</span>
            </div>
            <div class="icon-container">
              <i class="fa-brands fa-bootstrap"></i>
              <span class="icon-text">Bootstrap</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/po-ui.svg" alt="PO-UI" class="icon-img" />
              <span class="icon-text">PO-UI</span>
            </div>
          </div>
        </ul>

        <!-- Back-End -->
        <ul class="tech-list">
          <h4>Back-End:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-node-js"></i>
              <span class="icon-text">Node.js</span>
            </div>
            <div class="icon-container">
              <i class="fas fa-database"></i>
              <span class="icon-text">SQL</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/c.svg" alt="Java" class="icon-img" />
              <span class="icon-text">C</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-python"></i>
              <span class="icon-text">Python</span>
            </div>
            <div class="icon-container">
                <i class="fa-brands fa-java"></i>
                <span class="icon-text">Java</span>
                </div>
          </div>
        </ul>

        <!-- Softwares -->
        <ul class="tech-list">
          <h4>Softwares e Plataformas:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-git-alt"></i>
              <span class="icon-text">Git</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-github"></i>
              <span class="icon-text">GitHub</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/microsoft-office.svg" alt="Office" class="icon-img" />
              <span class="icon-text">Office</span>
            </div>
          </div>
        </ul>

        <!-- Sistemas Operacionais -->
        <ul class="tech-list">
          <h4>Sistemas Operacionais:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fa-brands fa-windows"></i>
              <span class="icon-text">Windows</span>
            </div>
            <div class="icon-container">
              <i class="fa-brands fa-linux"></i>
              <span class="icon-text">Linux</span>
            </div>
          </div>
        </ul>

        <a routerLink="/sobre" class="about-button">Saiba mais</a>
      </div>

      <!-- Foto à direita -->
      <div class="about-image">
        <img src="assets/images/fotolike.jpg" alt="Foto de Eduardo" />
      </div>
    </div>
  </div>
</section>





<!--  =============================== Projects =============================== -->
<section class="projects-section">
  <h2 class="section-title">Meus Projetos</h2>

  <div class="projects-grid">
    <!-- Projeto 1 -->
    <div class="project-card" style="background-image: url('assets/images/card1.png')">">
      <div class="overlay">
        <h3 class="project-title">Projeto</h3>
        <p class="project-subtitle">blabla</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="#" class="btn">Código</a>
        </div>
      </div>
    </div>

    <!-- Projeto 2 -->
    <div class="project-card" style="background-image: url('assets/images/card2.png')">
        <div class="overlay">
        <h3 class="project-title">Projeto</h3>
        <p class="project-subtitle">blabla</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="#" class="btn">Código</a>
        </div>
      </div>
    </div>

    <!-- Projeto 3 -->
    <div class="project-card" style="background-image: url('assets/images/card3.png')">
        <div class="overlay">
        <h3 class="project-title">Projeto</h3>
        <p class="project-subtitle">blabla</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="#" class="btn">Código</a>
        </div>
      </div>
    </div>

    <!-- Projeto 4 -->
    <div class="project-card" style="background-image: url('assets/images/card4.png')">
        <div class="overlay">
        <h3 class="project-title">eatsome.</h3>
        <p class="project-subtitle">Restaurante em ReactJS (Yelp API)</p>
        <div class="project-buttons">
          <a href="#" class="btn">Demo</a>
          <a href="#" class="btn">More</a>
        </div>
      </div>
    </div>
  </div>

 <div class="btn-wrapper">
  <a routerLink="/projetos" class="see-more-btn">
    Ver todos os projetos <i class="fas fa-arrow-right"></i>
  </a>
</div>
</section>

<!--  =============================== Contato =============================== -->

<section class="contact-section">
  <h2 class="section-title">03. Vamos Conectar</h2>
  
  <div class="contact-text ">
    <p> Acredito que as melhores soluções surgem da colaboração entre pessoas com visões diferentes. 
  Se você quer bater um papo sobre tecnologia, compartilhar aprendizados ou discutir como posso agregar valor ao seu negócio, 
  será um prazer conversar. Prometo responder com atenção e entusiasmo!
    </p>
    
    <div class="contact-buttons">
      <a href="mailto:jeduardowork@gmail.com"s class="contact-button">Enviar Mensagem</a>
      <a href="https://drive.google.com/file/d/1Zm64Eu_vkrbHFglPAvFzYCvBPpBxyxwA/view" download class="contact-button">Baixar Portfólio</a>
    </div>
  </div>
</section>

