
<!--  =============================== Header =============================== -->
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-greeting">My name is Eduardo</h1>
    <h2 class="hero-title">I'M A DEVELOPER</h2>
    
    <div class="social-links">
      <a href="https://github.com/IamEduardok" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/jos%C3%A9-eduardo-de-souza-a51808232/" target="_blank" class="social-link">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="mailto:jeduardowork@gmail.com" class="social-link">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</section>




<!--  =============================== About =============================== -->
<section role="region" class="about-section" aria-labelledby="aboutHeading" aria-live="polite">
  <div class="container">
    <div class="about-content">
      <!-- Texto à esquerda -->
      <div class="about-info">
        <h1 id="aboutHeading" class="about-title">
          <span>01.</span> Sobre Mim
          <div class="line"></div>
        </h1>
        <p class="about-description">
          Olá, eu sou o Eduardo, mas pode me chamar de Edu!<br /><br />

          Sou um desenvolvedor Full Stack com foco em Front-end, apaixonado por transformar ideias em interfaces modernas,
        responsivas e centradas na experiência do usuário. Meu principal interesse está na criação de experiências visuais impactantes, 
        com atenção aos detalhes, acessibilidade e performance. <br><br>
        Apesar do meu foco estar no Front-end, também tenho domínio do Back-end — especialmente na criação e integração de APIs
          e na conexão eficiente entre o front e o back. Isso me permite desenvolver soluções completas, 
          garantindo que tudo funcione de ponta a ponta de forma fluida e escalável.
        Busco sempre aliar tecnologia e empatia para criar produtos que, além de funcionais, gerem valor real para as pessoas.
        </p>

        <h2>Desenvolvedor com habilidades diversas/</h2>

        <!-- Front-End -->
        <ul class="tech-list">
          <h4>Front-End:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-js-square"></i>
              <span class="icon-text">JavaScript</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/typescript.svg" alt="TypeScript" class="icon-img" />
              <span class="icon-text">TypeScript</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-angular"></i>
              <span class="icon-text">Angular</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-react"></i>
              <span class="icon-text">React</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-css3-alt"></i>
              <span class="icon-text">CSS (SCSS, SASS)</span>
            </div>
            <div class="icon-container">
              <i class="fa-brands fa-bootstrap"></i>
              <span class="icon-text">Bootstrap</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/po-ui.svg" alt="PO-UI" class="icon-img" />
              <span class="icon-text">PO-UI</span>
            </div>
          </div>
        </ul>

        <!-- Back-End -->
        <ul class="tech-list">
          <h4>Back-End:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-node-js"></i>
              <span class="icon-text">Node.js</span>
            </div>
            <div class="icon-container">
              <i class="fas fa-database"></i>
              <span class="icon-text">SQL</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/c.svg" alt="Java" class="icon-img" />
              <span class="icon-text">C</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-python"></i>
              <span class="icon-text">Python</span>
            </div>
            <div class="icon-container">
                <i class="fa-brands fa-java"></i>
                <span class="icon-text">Java</span>
                </div>
          </div>
        </ul>

        <!-- Softwares -->
        <ul class="tech-list">
          <h4>Softwares e Plataformas:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fab fa-git-alt"></i>
              <span class="icon-text">Git</span>
            </div>
            <div class="icon-container">
              <i class="fab fa-github"></i>
              <span class="icon-text">GitHub</span>
            </div>
            <div class="icon-container">
              <img src="assets/images/icons/microsoft-office.svg" alt="Office" class="icon-img" />
              <span class="icon-text">Office</span>
            </div>
          </div>
        </ul>

        <!-- Sistemas Operacionais -->
        <ul class="tech-list">
          <h4>Sistemas Operacionais:</h4>
          <div class="content">
            <div class="icon-container">
              <i class="fa-brands fa-windows"></i>
              <span class="icon-text">Windows</span>
            </div>
            <div class="icon-container">
              <i class="fa-brands fa-linux"></i>
              <span class="icon-text">Linux</span>
            </div>
          </div>
        </ul>

        <a routerLink="/sobre" class="about-button">Saiba mais</a>
      </div>

      <!-- Foto à direita -->
      <div class="about-image">
        <img src="assets/images/fotolike.jpg" alt="Foto de Eduardo" />
      </div>
    </div>
  </div>
</section>





<!--  =============================== Projects =============================== -->
<section class="projects-section">
  <h1 class="section-title">
    <span>02.</span> Meus Projetos
      <div class="line"></div>
  </h1>
  

  <div class="projects-grid">
    <!-- Projeto 1 -->
    <div class="project-card" style="background-image: url('assets/images/backend.jpg')">">
      <div class="overlay">
        <h3 class="project-title">Sistema de Vendas</h3>
        <p class="project-subtitle">O Sistema de Gestão de Vendas é uma aplicação Java desenvolvida em modo terminal, utilizando Java puro, com persistência de dados via arquivos CSV, voltada ao gerenciamento de produtos e vendas.</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="https://github.com/IamEduardok/Sistema-Vendas" class="btn">Código</a>
        </div>
      </div>
    </div>

    <!-- Projeto 2 -->
    <div class="project-card" style="background-image: url('assets/images/Startcine.png')">
        <div class="overlay">
        <h3 class="project-title">Site StartCine</h3>
        <p class="project-subtitle">Este projeto foi desenvolvido durante o programa Start Tech da Universidade TOTVS, em parceria com a Ada Tech e o Instituto da Oportunidade Social, utilizando o framework Angular.</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="https://github.com/IamEduardok/ProjetoFinal_StartTech.git" class="btn">Código</a>
        </div>
      </div>
    </div>

    <!-- Projeto 3 -->
    <div class="project-card" style="background-image: url('assets/images/loginpage.png')">
        <div class="overlay">
        <h3 class="project-title">Login Autentificado</h3>
        <p class="project-subtitle">Este projeto tem como objetivo demonstrar a construção de um sistema de login com autenticação de usuários utilizando tecnologias modernas de frontend e backend.</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="https://github.com/IamEduardok/loginpage.git" class="btn">Código</a>
        </div>
      </div>
    </div>

    <!-- Projeto 4 -->
    <div class="project-card" style="background-image: url('assets/images/Clima.png')">
        <div class="overlay">
        <h3 class="project-title">Clima Em Tempo Real</h3>
        <p class="project-subtitle">Um aplicativo web de previsão do tempo que utiliza a API do OpenWeather, que oferece dados meteorológicos precisos e em tempo real, com um design moderno e interativo. Desenvolvido para ser rápido e intuitivo.</p>
        <div class="project-buttons">
          <a href="#" class="btn">Ver</a>
          <a href="https://github.com/IamEduardok/Weather-App.git" class="btn">Código</a>
        </div>
      </div>
    </div>
  </div>

 <div class="btn-wrapper">
  <a routerLink="/projetos" class="see-more-btn">
    Ver todos os projetos </a>
</div>
</section>

<!--  =============================== Contato =============================== -->

<section id="contato"  class="contact-section">
  <h2 class="section-title">03. Vamos Conectar</h2>
  
  <div class="contact-text ">
    <p> Acredito que as melhores soluções surgem da colaboração entre pessoas com visões diferentes. 
  Se você quer bater um papo sobre tecnologia, compartilhar aprendizados ou discutir como posso agregar valor ao seu negócio, 
  será um prazer conversar. Prometo responder com atenção e entusiasmo!
    </p>
    
    <div class="contact-buttons">
      <a href="mailto:jeduardowork@gmail.com"s class="contact-button">Enviar Mensagem</a>
      <a href="https://drive.google.com/file/d/1h6P3EQOWWGQO517gzlhyPgwL8tvifcpd/view?usp=sharing" download class="contact-button">Curriculo</a>
    </div>
  </div>
</section>

